body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#password-container {
  text-align: center;
}

#app-container {
  display: none;
  text-align: center;
}

#seat-map {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
}
